{% extends 'base.html' %}
{% set title='forms' %}
{% block title %}{{ title }} Page{% endblock %}

{% block content %}
    {{ super() }}

    <br><br><br>
    <div class="containerAssignments">
        <form action="/searchForms" method="get">
            <input type="text" name="user_name" placeholder="User Name"><br><br>
            <input type="submit" value="Search" class="button">
        </form>
    </div>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

    {% if user_username %}
        <br>
        <div class="containerAssignmentsSmall">
            <h3><a>{{user_username}}</a></h3>
            <a>LastName: {{ user_lastname }}</a><br>
            <a>Email: {{ user_email }}</a><br>
            <a>Age: {{ user_age }}</a><br>
            <a>nickname: {{ nickname }}</a>
        </div>
    {% endif %}

    {% if user_dict %}
        <div class="containerAssignmentBig">
             {% for m, n in user_dict.items() %}
                 <div class="containerAssignmentsSmall">
                     <h3><a>{{ m }}</a></h3>
                     <a>LastName: {{ n[1] }}</a><br>
                     <a>Email: {{ n[0] }}</a><br>
                     <a>nickname: {{ n[3] }}</a><br>
                     <a>Age: {{ n[2] }}</a>
                 </div>
             {% endfor %}
        </div>
    {% endif %}

    <br><br><br><br><br><br><br>
    {% if session['Registered'] %}
        <a href="/log_out">
            <input value="Exit" class="button" type="submit"/>
        </a>
    <br><br><br>
    {% if message2 %}
        <h3>{{ message2 }}</h3>
    {% endif %}

    {% else %}
        <div class="containerAssignments">
            <form action="/searchForms" method="post">
                <input type="text" name="username" placeholder="User Name" required><br><br>
                <input type="text" name="user_lastname" placeholder="User Last Name" required><br><br>
                <input type="text" name="nickname" placeholder="User nickname" required><br><br>
                <input type="email" name="email" placeholder="User Email" required><br><br>
                <input type="int" name="age" placeholder="User Age" required><br><br>
                <input type="submit" value="Register" class="button">
            </form>
        </div>
    {% endif %}

<br><br><br><br> <br><br><br><br> <br><br><br><br>

{% endblock %}