{% extends 'base.html' %}
    {% set title='Contact Us' %}
    {% block title %}{{ title }} Page{% endblock %}

{% block content %}
     {{ super() }}
            <div class="contact">
            <h1>Contact Us</h1>
            <br>
            <h3> Call Us: <a title="03-3333333" href="tel:03-3333333">03-3333333</a></h3>
            <h3>Email: <a title="coralel@post.bgu.ac.il" href="mailto:coralel@post.bgu.ac.il">coralel@post.bgu.ac.il</a></h3>
            <h3>אורח יקר אנו שמחים על ביקורך באתר נחזור לפנייתך בהקדם</h3>
            <h3>  אנא השאיר פרטים מלאים בצירוף לפנייתך</h3>
        </div>

        <div class="grid-fillForm">
        <div class="grid-item form1">
            <form action="">
                <label for="FullName">Full Name :</label>
                <input type="FullName" id="FullName" name="FullName">
                <br><br>
                <label for="email">E-mail :</label>
                <input type="email" pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' id="email" name="email" maxlength="10">
                <br><br>
                <label for="number">Age :</label>
                <input type="number" id="number" name="number" max="100">
            </form>
        </div>
        <div class="grid-item form2">
            <form action="">
                <label for="radio">Male</label>
                <input type="radio" name="radio" id="radio">
                <label for="radio">Female</label>
                <input type="radio" name="radio" id="radio">
            </form>
            <br><br>
        </div>
        <div class="grid-item form3">
            <form action="">
                <label for="text">Message :</label>
                <input type="text" id="text" name="text">
                <br><br>
                <label for="file">Requirement document :</label>
                <input type="file" id="file" name="file">
            </form>
        </div>
        <div class="grid-item submit">
            <form action="">
                <button class="button">submit</button>
            </form>
        </div>
    </div>


    <div class="contact">
        <h2>תודה רבה על פנייתך !</h2>
    </div>

    <div id="audio"> <audio controls src="../static/IPHONE RINGTONE.mp3" ></audio></div>
{% endblock %}