 <footer>
     <img src="../static/logo2.PNG" alt="" id="logo" onclick="fun()">
     <div class="BottomMenu">
        <a id="BMenu" href="file:///C:/Users/ADMIN/OneDrive%20-%20post.bgu.ac.il/%D7%9E%D7%A1%D7%9E%D7%9B%D7%99%D7%9D/team15/TrainGether/templates/Conditions.html">Conditions</a>
        <a href="file:///C:/Users/ADMIN/OneDrive%20-%20post.bgu.ac.il/%D7%9E%D7%A1%D7%9E%D7%9B%D7%99%D7%9D/team15/TrainGether/templates/ContactUs.html">Contact Us</a>
        <a href="../templates/LogIn.html">Log out</a>
    </div>
 </footer>
