{% extends 'base.html' %}
    {% set title='Home Page' %}
    {% block title %}{{ title }} Page{% endblock %}

{% block content %}
     {{ super() }}
<div class="container">
        <h2 class="AnimationHomePage">
          <span class="AnimationHomePage-num one">WELCOME</span>
          <span class="AnimationHomePage-num two">TO</span>
          <span class="AnimationHomePage-num three">HOME</span>
          <span class="AnimationHomePage-num four">PAGE</span>
        </h2>

        <div id="Image"></div>
    </div>
    <div id="Welcome">
       <h4>
        Welcome to my HTML page!
        <br><br>
        By Coral Elimelech
       </h4>
    </div>
{% endblock %}